on post-fs-data
    # mobicore
    mkdir /data/app/mcRegistry 0775 system system
    mkdir /data/app/mcRegistry/TbStorage 0700 system system
    mkdir /efs/TEE  0770 radio system

    # mobicore
    chmod 0660 /dev/s5p-smem
    chown media system /dev/s5p-smem
    chmod 0660 /dev/t-base-tui
    chown system system /dev/t-base-tui
    export MC_AUTH_TOKEN_PATH /efs
	
# MobiCore startup
service mobicore /vendor/bin/mcDriverDaemon -r /vendor/app/mcRegistry/FFFFFFFF000000000000000000000001.drbin -r /vendor/app/mcRegistry/ffffffffd0000000000000000000000a.tlbin -r /vendor/app/mcRegistry/ffffffffd00000000000000000000016.tlbin
    class core
    user system
    group system
    oneshot
