/dev/mali0                0666   system     system
/dev/ion                  0666   system     system
# media0 is used for GSC, DECON, etc
/dev/media0               0660   system     camera
# Various devices use the v4l-subdev interface
/dev/v4l-subdev0          0660   system     camera

# mscalers
/dev/i2c-*                0660   system     system
/dev/video50              0666   media      graphics
/dev/video51              0666   media      graphics
/dev/m2m1shot_scaler0     0666   cameraserver      graphics
/dev/m2m1shot_scaler1     0666   cameraserver      graphics

# mfc
/dev/video6               0660   mediacodec mediadrm
/dev/video7               0660   media      mediadrm
/dev/video8               0660   media      mediadrm
/dev/video9               0660   media      mediadrm

# camera
/dev/video101             0660   cameraserver      cameraserver
/dev/video102             0660   cameraserver      cameraserver
/dev/video110             0660   cameraserver      cameraserver
/dev/video111             0660   cameraserver      cameraserver
/dev/video112             0660   cameraserver      cameraserver
/dev/video130             0660   cameraserver      cameraserver
/dev/video131             0660   cameraserver      cameraserver
/dev/video132             0660   cameraserver      cameraserver
/dev/video150             0660   cameraserver      cameraserver
/dev/video152             0660   cameraserver      cameraserver

# CPU frequency
/dev/cpu_freq_max         0660   system     system
/dev/cpu_freq_min         0660   system     system
/dev/kfc_freq_max         0660   system     system
/dev/kfc_freq_min         0660   system     system

# jpeg
/dev/m2m1shot_jpeg        0660   cameraserver      media

# Latency
/dev/network_latency      0660   system     system
/dev/cpu_dma_latency      0660   system     system

# Modem Interface
/dev/block/platform/13540000.dwmmc0/by-name/RADIO     0660   system     radio
/dev/alarm                0664   system     radio
/dev/dun                  0660   system     radio
/dev/multipdp             0660   system     radio
/dev/smd4                 0660   system     radio
/dev/umts*                0660   system     radio

# Sensorhub IIO
/dev/iio:device*          0660   system        system
/dev/input/event*         0660   root       system
/sys/class/input/input*   enable       0660   system     input
/sys/class/input/input*   poll_delay   0660   system     input
/sys/bus/iio/devices/iio:device*    *    0664   system     radio

# Throughput
/dev/bus_throughput       0660   system     system
/dev/bus_throughput_max   0660   system     system
/dev/cam_throughput       0660   system     system
/dev/device_throughput    0660   system     system
/dev/display_throughput   0660   system     system
/dev/memory_throughput    0660   system     system
/dev/network_throughput   0660   system     system

# Interactive Governor Tunables
/sys/devices/system/cpu/cpufreq/interactive/target_loads            0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay     0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/hispeed_freq            0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load         0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/min_sample_time         0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/timer_rate              0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/timer_slack             0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/boost                   0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/boostpulse              0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/boostpulse_duration     0660    system  system
/sys/devices/system/cpu/cpufreq/interactive/io_is_busy              0660    system  system

# Mali Device
/sys/devices/11400000.mali  power_policy    0664    system  system
/sys/devices/11400000.mali  dvfs_table      0664    radio   system
/sys/devices/11400000.mali  dvfs_min_lock   0664    radio   system
/sys/devices/11400000.mali  dvfs_max_lock   0664    radio   system
/sys/devices/11400000.mali  highspeed_clock 0664    radio   system
/sys/devices/11400000.mali  highspeed_load  0664    radio   system

# USB OTG
/sys/class/sec/switch       usb_state   0664    radio   system
/sys/class/sec/switch       chg_type    0664    radio   system
/sys/class/sec/switch       otg_test    0664    radio   system
/sys/class/sec/switch       usb_sel     0664    radio   system
/sys/class/sec/switch       uart_sel    0664    radio   system
/sys/class/sec/switch       uart_en     0664    radio   system
/sys/class/sec/switch       apo_factory 0664    radio   system

/sys/class/host_notify/usb_otg      booster 0664    radio   system
/sys/class/usb_notify/usb_control   disable 0664    system  usb

# Google FRP solution
/dev/block/platform/13540000.dwmmc0/by-name/PERSISTENT    0660    system    system

# MobiCore
/dev/mobicore             0700   system     system
/dev/mobicore-user        0666   radio      system
