# Audio
vendor_internal_prop(vendor_audio_prop)

# CP-Boot Daemon
vendor_internal_prop(cpboot-daemon_prop)

# modemloader
vendor_internal_prop(modemloader_prop)

# mobicore (tee)
vendor_internal_prop(tee_prop)

# RIL
vendor_internal_prop(vendor_radio_prop)

# WIFI
vendor_internal_prop(vendor_wifi_prop)
